.d17Wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-radius: 15px;
    color: white;
}

.counter-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 30px 50px;
}

.counter {
    font-size: 60px;
    margin-top: 10px;
}

@media (max-width: 580px) {
    body {
        flex-direction: column;
    }
}